/* Bare Essentials --------------------------------------- */

@font-face {
	font-family: 'entypo';
	src: url('fonts/entypo.eot');
	src: url('fonts/entypo.woff') format('woff'),
	     url('fonts/entypo.ttf') format('truetype'),
             url('fonts/entypo.svg') format('svg');
}

.single .content .wrap > *:last-child {
	margin-bottom: 0;
}

.home > div + div {
	display: none;
}

::selection {
	background: #3174C5;
	;color: white;
} 

::-moz-selection {
	background: #3174C5;
	color: white;
} 

input::-webkit-input-placeholder { 
	/* WebKit browsers */ color: #ddd;
} 

input:-moz-placeholder { 
	/* Mozilla Firefox 4 to 18 */ color: #ddd;
} 

input::-moz-placeholder { 
	/* Mozilla Firefox 19+ */ color: #ddd;
} 

input:-ms-input-placeholder { 
	/* Internet Explorer 10+ */ color: #ddd;
}

html, body {
}

.wrap {
overflow: hidden;
}

code, pre {
	overflow-y: scroll;
}

pre {

font-size: 13px;
line-height: 19px;
overflow: auto;
padding: 10px;
margin: 0 0 25px 0;
background: #FFFAE0;
}

input[type="submit"], textarea, input[type="text"] {
	border: none;
}

body {
	font: 300 17px/22px 'museo-slab', 'proxima-nova', Helvetica, Arial;
}

.paginate {
	margin: 20px 0 0;
	overflow: hidden;
}

p {
	margin-bottom: 25px;
}

h1, 
body .input_title {
	font-size: 35px;
	margin: 0 -100px 29px;
	line-height: 39px;
	font-weight: 300;
	text-align: center;
	font-weight: bold;
	border: none;
	padding: 0;

}

h2 {
	font-size: 27px;
	padding: 0 0 7px;
}

h3 {
	font-size: 20px;
	padding: 0 0 7px;
}

a {
	text-decoration: none;
	color: #3174c5;
}

a:hover {
	color: #2985F2;
}

ul, ol {
	margin: 0 0 25px 29px;
}

ol ol, ul ul, ol ul, ul ol {
	margin-bottom: 0;
}

ul br, ol br {
	display: none;
}

ul li br {
	display: block;
}

ul em, ol em {
}

/* Content --------------------------------------- */


/* Home --------------------------------------- */

.top {
	border-bottom: 1px solid #F5F5F5;
	margin: 0 0 30px;
}

.top .wrap {	
	overflow: hidden;
	padding: 30px 0;
	width: 960px;
	margin: 0 auto;
}

.top a {
	float: left;
	font-size: 20px;
	display: block;
	margin: 0 30px 0 0;
}

.entypo {
	font-family: 'entypo';
	font-size: 30px;
}

.search_form {
	float: right;
	margin-top: -4px;
}

.search_form input[type="search"] {
		border: 1px solid #E7E7E7;
padding: 4px;
font-size: inherit;
font-family: inherit;
width: 220px;
border-radius: 15px;
}

.search_form input[type="search"]:focus {
	border-color: #D6D6D6;
}

.excerpt {
	margin: 15px 0 15px 30px;
}

.actions {
	padding: 25px 0 0 25px;
	float: left;
}

.actions a {
color: #DDD;
font-family: 'entypo';
font-size: 30px;
border: 1px solid #DDD;
width: 30px;
display: block;
text-align: center;
padding: 3px 0;
float: left;
border-radius: 5px;
margin: 0 10px 0 0;}



/* Active archive --------------------------------------- */

.active .actions a, .post .actions a:hover, .post.active .date, .active a small  {
	border-color: #CBE1F8;
	color: #A0CAF5;
}

.post.active, .post.previous  {
	border-bottom: 1px solid #CFE7FF;
}

.post.active {
	border: 1px solid #CFE7FF;
	background: #f2f9ff;
}

/* Elements --------------------------------------- */

.root {
	overflow: auto;
	height: 100%;
}

.paginate .item {
	padding: 0 10px 0;
	float: left;
}

body.search #content, body.home #content {
	width: 840px;
}

#content {
		clear: both;
		width: 700px;
		margin: 0 auto 50px;
}

.post.first {	
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.post.last {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

body .post.not_first {
	border-top: none;
}

.post {
	border: 1px solid #eee;
}

.post.not_first {
	border-top: none;
}


.post .left-column {
	float: left;
}

.post .date {
color: #ddd;
font-size: 12px;
line-height: 16px;
width: auto;
padding: 25px;
}

.post .date {
float: right;
text-align: right
}

a small {
	display: inline-block;
	color: #ACCBEC;
}

.dates {
	color: #aaa;
	font: 12px Arial;
	overflow: hidden;
}

.dates > div {
	float: left;
}

.modify-date {
	margin-left: 10px;
}

.title {
	padding: 21px 15px;
	display: inline-block;
	width: 555px;
}

.no_category .title {
padding: 31px 15px 29px;
}

.has_archive.title {
margin: -10px 0 -7px;
padding-bottom: 0;
}

/* Elements --------------------------------------- */

.post .dates, .post form {
	visibility: hidden;
}

.post:hover .dates, .post:hover form {
	visibility: visible;
}

/* Post Inputs --------------------------------------- */


input, textarea {
	display: block;
}

textarea {
	resize: none;
	padding: 0;
}

input[type="submit"]::-moz-focus-inner {border:0;}

input[type="submit"] {
	cursor: pointer;
}

input[type="submit"]:hover {
	color: #2985F2;

}

input.remove {
	color: #aaa;

}

input.edit {
	margin-right: 5px;
	float: left;
}


/* Add Post --------------------------------------- */

.word_count {
	margin: 18px 0;
	color: #999;
	float: right;
}


textarea {
	background: #fff;
	width: 100%;
	margin: 0 -20px;
	overflow: auto;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border: 1px solid #DDD;
	padding: 20px;
	border-radius: 5px;
}

input[type="text"] {
	background: #fff;
	float: left;
	margin: 0 20px 20px 0;
	width: 250px;
	display: block;
	float: none;
	font-family: inherit;
	font-size: inherit;
}

input[type="submit"], .cancel, .delete-btn, .blue, .grey {
margin: 10px 20px 0 0;
color: #7AB0F1;
border: 1px solid #CBE6FF;
padding: 12px 20px;
display: inline-block;
background: none;
border-radius: 35px;
line-height: inherit;
font-family: inherit;
text-align: center;
transition: .3s;
font-size: 15px;
}

input[type="submit"]:hover, .cancel:hover, .delete-btn:hover, .blue:hover, .grey:hover {
	border: 1px solid #7AB0F1;

}

.buttons {	
	text-align: center;
	margin: 15px 0 0;
}

.single .buttons {
	margin: 0;
}

.placeholder {
	color: #EEE;
}

.input_title:empty {
	color: #fff;
}

.input_title:empty:before {
	content:"title";
	color: #ddd;
}

/***** Categories ****/
.categories {
padding: 10px 0;
color: #999;
float: left;
}

.categories label {
	float: left;
	padding: 8px 7px 0 0;
}

.categories input[type="text"] {
display: block;
border-radius: 15px;
padding: 8px 0;
color: #999;
margin: 0;

}

.clear {
	clear: both;
}

/* Customize the category Select2 dropdown menu --------------------------------------- */

body .select2-container .select2-choice, 
body .select2-dropdown-open.select2-drop-above .select2-choice, 
body .select2-drop.select2-drop-above.select2-drop-active, 
body .select2-dropdown-open.select2-drop-above .select2-choice {
background: #FFF;
border: 1px solid #EEE;
color: #AAA;
box-shadow: none;
}

body .select2-drop-active {
border: 1px solid #EEE;
}

body .select2-drop {
	box-shadow: none;
}

body .select2-container .select2-choice .select2-arrow {
background: none;
border-left: 1px solid #EEE;
}

body .select2-search input { 
	border: none;
	font-family: inherit;
}

body .select2-results .select2-highlighted {
	background: #6490D6;
}

body .select2-results {
	padding: 0;
	margin: 0;
}

body .select2-results .select2-result-label {
	padding: 4px 12px 5px;
}
