/* Bare Essentials --------------------------------------- */

@font-face {
	font-family: 'entypo';
	src: url('fonts/entypo.eot');
	src: url('fonts/entypo.woff') format('woff'),
	     url('fonts/entypo.ttf') format('truetype'),
             url('fonts/entypo.svg') format('svg');
}

.home > div + div {
	display: none;
}

::selection {
	background: #3174C5;
	;color: white;
} 

::-moz-selection {
	background: #3174C5;
	color: white;
} 

input::-webkit-input-placeholder { 
	/* WebKit browsers */ color: #ddd;
} 

input:-moz-placeholder { 
	/* Mozilla Firefox 4 to 18 */ color: #ddd;
} 

input::-moz-placeholder { 
	/* Mozilla Firefox 19+ */ color: #ddd;
} 

input:-ms-input-placeholder { 
	/* Internet Explorer 10+ */ color: #ddd;
}

html, body {
}

.wrap {
overflow: hidden;
}

code, pre {
	overflow-y: scroll;
}

pre {
border: 1px solid #CCC;
font-size: 13px;
line-height: 19px;
overflow: auto;
padding: 6px 10px;
margin: 0 0 25px 0;
border-left: 4px solid #CCC;
}

input[type="submit"], textarea, input[type="text"] {
	border: none;
}

body {
	font: 300 17px/22px 'proxima-nova-soft', Helvetica, Arial;
}

.paginate {
	margin: 20px 0 0;
}

p {
	margin-bottom: 25px;
}

h1 {
	font-size: 30px;
	margin: 0 0 30px;
	line-height: 36px;
	font-weight: 300;
}

h2 {
	font-size: 20px;
	margin: 0 0 10px 0;
	padding: 0 0 10px;
	font-weight: 300;

}

a {
	text-decoration: none;
	color: #3174c5;
}

a:hover {
	color: #2985F2;
}

ul, ol {
	margin: 0 0 25px 29px;
}

ol ol, ul ul, ol ul, ul ol {
	margin-bottom: 0;
}

ul br, ol br {
	display: none;
}

ul li br {
	display: block;
}

ul em, ol em {
}

/* Content --------------------------------------- */

.single .content {
}

/* Home --------------------------------------- */

.top {	
	overflow: hidden;
	padding: 30px 0;
}

.home .top a {
	float: left;
	font-size: 20px;
	display: block;
	margin: 0 20px 0 0;
}

.entypo {
	font-family: 'entypo';
	font-size: 30px;
}

.search_form {
	float: right;
	margin-top: -4px;
}

.search_form input[type="search"] {
		border: 1px solid #E7E7E7;
padding: 4px;
font-size: inherit;
font-family: inherit;
width: 220px;
border-radius: 5px;
}

.search_form input[type="search"]:focus {
	border-color: #D6D6D6;
}

.excerpt {
	margin: 15px 0 15px 30px;
}

.actions a {
color: #DDD;
font-family: 'entypo';
font-size: 30px;
border: 1px solid #DDD;
width: 30px;
display: block;
text-align: center;
padding: 3px 0;
float: left;
border-radius: 5px;
margin: 0 10px 0 0;}



/* Active archive --------------------------------------- */

.active .actions a, .post .actions a:hover, .post.active .date  {
	border-color: #CBE1F8;
	color: #A0CAF5;
}

.post.active, .post.previous  {
	border-bottom: 1px solid #CFE7FF;
}

.post.active {
	border: 1px solid #CFE7FF;
	background: #f2f9ff;
}

/* Elements --------------------------------------- */

.root {
	overflow: auto;
	height: 100%;
}

.paginate .item {
	padding: 0 10px 0;
	float: left;
}

#wrap {
	margin: 10px auto 40px;
	width: 840px;
	background: #fff;
}

.inner {
	overflow: hidden;
}

#content {
		clear: both;
		overflow:hidden;
}

.post.first {	
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.post.last {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

body .post.not_first {
	border-top: none;
}

.post {
	border: 1px solid #eee;
	overflow: hidden;
	padding: 25px;
}

.post.not_first {
	border-top: none;
}


.post .left-column {
	float: left;
	width: 670px;
}

.post .date {
float: right;
text-align: right;
color: #ddd;
font-size: 12px;
line-height: 16px;
width: auto;
}

.dates {
	color: #aaa;
	font: 12px Arial;
	overflow: hidden;
}

.dates > div {
	float: left;
}

.modify-date {
	margin-left: 10px;
}

.title {
	padding: 4px 15px;
	display: inline-block;
	width: 555px;
}

/* Elements --------------------------------------- */

.post .dates, .post form {
	visibility: hidden;
}

.post:hover .dates, .post:hover form {
	visibility: visible;
}

/* Post Inputs --------------------------------------- */


input, textarea {
	display: block;
}

textarea {
	resize: none;
	padding: 0;
}

input[type="submit"]::-moz-focus-inner {border:0;}

input[type="submit"] {
	cursor: pointer;
}

input[type="submit"]:hover {
	color: #2985F2;

}

input.remove {
	color: #aaa;

}

input.edit {
	margin-right: 5px;
	float: left;
}

body input.input_title {
	font-family: inherit;
	font-size: 30px;
	width: 100%;
	padding: 0;
	margin: 0 0 29px 0;
	border: none;
	border-bottom: 1px solid transparent;
	line-height: 30px;
	border-radius: 0;
}

.input_title:focus {
	border-bottom: 1px dotted #DDD;
}

/* Add Post --------------------------------------- */

.word_count {
	margin: 15px 0;
	color: #999;
}


textarea {
	background: #fff;
	width: 798px;
	margin: 0px 0 0 0;
	overflow: auto;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border: 1px solid #DDD;
	padding: 20px;
	border-radius: 5px;
}

input[type="text"] {
	background: #fff;
	float: left;
	margin: 0 20px 20px 0;
	width: 250px;
	display: block;
	float: none;
	font-family: inherit;
	font-size: inherit;
}

input[type="submit"], .cancel, .delete-btn, .blue, .grey {
	float: left;
	margin: 10px 15px 0 0;
	color: #7AB0F1;
	border: 1px solid #ddd;
	padding: 10px 15px;
	display: block;
	background: none;
	border-radius: 5px;
	font-size: inherit;
	line-height: inherit;
	font-weight: 300;
	font-family: inherit;
}

